/*
The MIT License

Copyright 2018 Filippov Vladislav.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
/* 
    Created on : 05.02.2018, 15:56:53
    Author     : Filippov Vladislav
*/

body {
    padding: 0;
    margin: 0;
}

.mapbox {
    position: relative;
}

.mapbox .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

.mapbox .overlay .btn {
    pointer-events: initial;
}

.leaflet-control-zoom-display {
    background-color: #fff;
    border-bottom: 2px solid #ccc;
    width: 30px;
    height: 28px;
    line-height: 32px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-top: 0.5em;
    font: bold 14px/20px Tahoma, Verdana, sans-serif;
}

.leaflet-control-mouseCoordinate{
    width:220px;
    min-height:30px;
    text-align:left;
    table-layout:fixed;
    border-radius:5px;
    overflow:hidden;
    box-shadow:0 1px 5px rgba(0,0,0,.6);
    background: #ccc;
    color:#333;padding:6px 10px 6px 6px
}
.leaflet-control-mouseCoordinate table{
    width:100%
}
.coords{
    width:60px;
}

.leaflet-container.crosshair-cursor-enabled {
    cursor: crosshair;
    
}

.leaflet-control-dialog{
  position: absolute;
  background-color: #fff;
  padding: 0px;
  text-align: left;
  border-radius: 4px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

.leaflet-control-dialog .leaflet-control-dialog-inner{
  position: relative;
  box-sizing: border-box;
  float: left;
  width: 100%;
  height: 100%;
  padding: 20px 0px;
}

.leaflet-control-dialog .leaflet-control-dialog-inner .leaflet-control-dialog-grabber{
  position: absolute;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0px;
  padding: 3px;
  font-size: 15px;
  line-height: 15px;
  color: #ccc;
}

.leaflet-control-dialog .leaflet-control-dialog-inner .leaflet-control-dialog-grabber:hover{
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.leaflet-control-dialog .leaflet-control-dialog-inner .leaflet-control-dialog-close{
  position: absolute;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  top: 0px;
  right: 0px;
  padding: 2px;
  font-size: 16px;
  line-height: 16px;
  color: #666;
}

.leaflet-control-dialog .leaflet-control-dialog-inner .leaflet-control-dialog-close:hover{
  cursor: pointer;
}

.leaflet-control-dialog .leaflet-control-dialog-inner .leaflet-control-dialog-contents{
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0 20px;
  min-height: 50px;
  overflow: auto;
  box-sizing: border-box;
}

.leaflet-control-dialog .leaflet-control-dialog-inner .leaflet-control-dialog-resizer{
  position: absolute;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  bottom: 0px;
  right: 0px;
  padding: 2px;
  font-size: 16px;
  line-height: 16px;
  color: #ccc;
}

.leaflet-control-dialog .leaflet-control-dialog-inner .leaflet-control-dialog-resizer:hover{
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
